@media (min-width:1280px) {
    .nav__container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $baground-gray;
    }
    
    .nav {
        width: 100%;
        display: flex;
        position: relative;
    }
    
    .nav__title {
        margin: 15px auto;
        width: 90%;
        box-shadow: $box-shodow-black;
        border-radius: 5px;
        background-color: $white;
    }
    
    .nav__title--text {
        padding: 10px;
    
    }
    
    .list {
        border-radius:  0 16px 16px 0;
        background-color: $baground-gray-2;
        display: flex;
        flex-direction: column;
        padding: 0;
        height: calc(100vh - 80px);
        width: 320px;
        overflow-y: scroll;
        transform: translate(0) !important;
    }
    
    .list__item {
        list-style: none;
        width: 100%;
        text-align: center;
        // overflow: hidden;
    }
    
    .list__button {
        display: flex;
        align-items: center;
        gap: 1em;
        width: 70%;
        margin: 0 auto;
    }
    
    .list__arrow {
        margin-left: auto;
        width: 24px;
        height: 24px;
        transition: transform .3s;
    }
    
    .arrow .list__arrow {
        transform: rotate(90deg);
    }
    
    .nav__link {
        color: #303440;
        display: block;
        padding: 15px 0;
        text-decoration: none;
    }
    
    .list__show {
        border-left: 2px solid #303440;
        list-style: none;
        margin-left: auto;
        margin-top: 10px;
        transition: all .4s;
        padding-left: 0;
        width: 80%;
        height: 0;
        display: none;
    }
    
    .list__inside {
        &:hover {
            background-color: $baground-gray-hover;
        }
    }
    
    .nav__link--inside {
        border-radius: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .list__item--click {
        cursor: pointer;
    }
    
    .btn__list {
        background-color: unset;
        border: none;
        cursor: pointer;
        text-align: left;
    }
    
    .btn__list.list__button.list__button--click {
        border-bottom: 1px solid $baground-gray-hover;
    }
    
    .btn__list.list__button.list__button--click.arrow {
        border-bottom: 1px solid $dark-grey;
    }
    
    .btn__list.nav__link.nav__link--inside {
        width: 100%;
    }
    
    .container__kinestesico {
        width: calc(100% - 320px);
        .content__kinestesico {
            columns: 2;
            font-size: 18px;
            padding: 10px 35px;
    
            &::first-line {
                font-weight: 900;
                font-size: 28px;
            }
        }
        .editor__kinestesico {
            margin: 20px;
            position: relative;
            height: 700px;
    
            .ace_content {
                left: 0 !important;
            }
        }
    }

    .nav__hamburguer, .nav__close {
        display: none;
    }
}

@media (max-width:1280px) {
    .nav__container {
        position: relative;
    }
    .container {
        max-width: 1200px;
        overflow: hidden;
        margin: 0 20px;
    }

    .nav__hamburguer,
    .nav__close {
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        background: black;
        z-index: 8;
        margin: 0;
        width: max-content;
        padding: 0;
        height: 50px;
        margin-top: 10px;
        transition: all .4s;
        border-radius: 10px;
        position: absolute;
    }

    .nav__close {
        img {
            filter: invert(1);
        }
    }

    
    .nav__links {
        background-color: black;
        left: 0;
        right: 0;
        display: grid;
        grid-auto-rows: max-content;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
        transition: transform .3s;
        position: fixed;
        top: 0;
        padding-top: 20px;
        z-index: 5;
    }

    .nav__icon {
        width: 50px;
    }
    .list__item {
        list-style: none;
        width: 100%;
        text-align: center;
        // overflow: hidden;
    }
    
    .list__button {
        display: flex;
        align-items: center;
        gap: 1em;
        width: 70%;
        margin: 0 auto;
    }
    
    .list__arrow {
        margin-left: auto;
        width: 24px;
        height: 24px;
        transition: transform .3s;
        filter: invert(1);
    }
    
    .arrow .list__arrow {
        transform: rotate(90deg);
    }
    
    .nav__link {
        color: white;
        display: block;
        padding: 15px 0;
        text-decoration: none;
        font-size: 16px;
    }
    
    .list__show {
        border-left: 2px solid white;
        list-style: none;
        margin-left: auto;
        margin-top: 10px;
        transition: all .4s;
        padding-left: 0;
        width: 80%;
        height: 0;
        display: none;
    }
    
    .list__inside {
        &:hover {
            background-color: $baground-gray-hover;
        }
    }
    
    .nav__link--inside {
        border-radius: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .list__item--click {
        cursor: pointer;
    }
    
    .btn__list {
        background-color: unset;
        border: none;
        cursor: pointer;
        text-align: left;
    }
    
    .btn__list.list__button.list__button--click {
        border-bottom: 1px solid $baground-gray-hover;
    }
    
    .btn__list.list__button.list__button--click.arrow {
        border-bottom: 1px solid $dark-grey;
    }
    
    .btn__list.nav__link.nav__link--inside {
        width: 100%;
    }

    .container__kinestesico {
        margin-top: 80px;

        .content__kinestesico {
            text-align: justify;

            &::first-line {
                font-weight: 900;
                font-size: 24px;
            }

            img {
                width: 88vw;
            }
        }

        .editor__kinestesico {
            position: relative;
            width: 100vw;
            height: 100vh;
    
            .ace_content {
                left: 0 !important;
            }
        }
    }

}

