* {
    font-family:  'SegoEui', Helvetica, sans-serif, Arial, sans-serif;
    margin: 0px;
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;

}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

@font-face {
    font-family: 'SegoEui';
    src: url(../SEGOEUI.TTF);
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url(../Nunito-Regular.ttf);
}